<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">

    <title>Volume Meter Sample</title>
    <style>
    </style>
    <!-- Include the volume meter component -->
    <script src="/test/volume-meter.js"></script>
    <!-- Include the main app logic -->
    <script src="/test/main.js"></script>
</head>
<body>
<p>This sample shows how to implement a clip-indicating volume meter in Web Audio, using a ScriptProcessor.  It's necessary to use a ScriptProcessor in order to not miss any clipping samples - otherwise you could implement this using a RealtimeAnalyser to only grab samples when necessary.</p>
<canvas id="meter" width="500" height="50"></canvas>

<p>Check out the <a href="http://github.com/cwilso/volume-meter/">source on Github</a>.</p>
((((((<p id="vvv"></p>))))))
</body>
</html>


<!--https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxf234245ad2df882c&redirect_uri=REDIRECT_URI&response_type=code&scope=SCOPE&state=STATE#wechat_redirect-->