<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/pintuer.css" type="text/css">
    <script src="/datatables/media/js/jquery.js"></script>
    <script src="/js/respond.js"></script>
    <script src="/js/pintuer.js"></script>
    <title></title>
</head>
<body>
    <div class="container">
    <div class="bg-blue bg-inverse radius nav-navicon">

        <ul class="nav nav-inline nav-menu nav-split nav-justified">
            <li class="nav-head">后台管理</li>
            <li class="nav-more"><a href="#">护理员管理<span class="arrow"></span></a>
                <ul class="drop-menu">
                    <li><a href="/admin/carer">护理员列表</a></li>
                    <li><a href="/admin/carer/add">添加护理员</a> </li>
                </ul>
            </li>
            <li ><a href="/admin/hospital">医院管理</a></li>
            <li ><a href="/admin/order">订单管理</a></li>
        </ul>

    </div>
