<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
    <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/respond.js"></script>
    <script src="/js/aes.js"></script>
    <script src="/js/aes-json-format.js"></script>
    <link rel="stylesheet" href="/css/admin_login.css" type="text/css">
</head>
<body>
<ul class="tabs">
    <li>
        <a href="#login" class="active">登陆</a>
    </li>

</ul>
<div id="login" class="form-action show" >
    <form >
        <ul >
            <li>
                <input id="name" type="text" placeholder="用户名" />
            </li>
            <li>
                <input id="pwd" type="password" placeholder="密码" />
            </li>
            <li style="text-align: center">
                <input id="login-btn" style="margin: 0 auto"  value="登陆" type="button" class="button" />
            </li>
        </ul>
    </form>
</div>

<!--/#register.form-action-->
<script>
    (function( $ ) {
        var SHOW_CLASS = 'show',
                HIDE_CLASS = 'hide',
                ACTIVE_CLASS = 'active';

        $( '.tabs' ).on( 'click', 'li a', function(e){
            e.preventDefault();
            var $tab = $( this ),
                    href = $tab.attr( 'href' );

            $( '.active' ).removeClass( ACTIVE_CLASS );
            $tab.addClass( ACTIVE_CLASS );

            $( '.show' )
                    .removeClass( SHOW_CLASS )
                    .addClass( HIDE_CLASS )
                    .hide();

            $(href)
                    .removeClass( HIDE_CLASS )
                    .addClass( SHOW_CLASS )
                    .hide()
                    .fadeIn( 550 );
        });
        $('#login-btn').click(function(){
            var name = $('#name').val();
            var pwd = $('#pwd').val();
            if(name.length == 0 || pwd.length == 0) {
                alert('用户名密码不能为空');
                return;
            }

             //CryptoJS.AES.encrypt(data, key, { iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.ZeroPadding });
            var encrypted = CryptoJS.AES.encrypt(JSON.stringify(pwd), name, {format: CryptoJSAesJson}).toString();
            console.log(encrypted);
            $.post('/admin/login/loginAction',{'name':name,'json':encrypted.toString()},function(json){
                if(json.status == 0){
                    window.location.href = '/admin/dashboard';
                } else {
                    alert(json.msg);
                }

            },'JSON')
        });
    })( jQuery );
</script>
</body>
</html>